/*
	text color
*/
span {
	--highlight-search-match: var(--text-normal);
}

/*
	background color
*/

span {
	--highlight-search-match-bg: var(--text-highlight-bg);
	--focus-search-match-bg: #ff9633;
}
